{% extends "layout.html" %}

{% block title %}
    Street View Guessing - Change Passwords
{% endblock %}

{% block main %}

<div class="row bg-dark text-white text-center">
    <p style="font-size:150%">
        <b>Please Input the New Password</b>
        <br>
    </p>
</div>

<div class="row bg-dark text-center">
    <form action="/changepasswords" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="New Password Again" type="password">
        </div>
        <button class="btn btn-outline-light" type="submit">Confirm</button>
    </form>
</div>

{% endblock %}